@use '../../styles/partials/variables' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;

.about {
  background: url("../../assets/images/binary_background.png") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 5rem 1rem;
  }

  &__container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    @include flex(column, center, flex-start);
    width: 90%;
    height: 550px;
    padding: 2rem;
    color: $black-color;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @include tablet {
      width: 60%;
      height: 650px;
    }

    @include desktop {
      width: 50%;
      height: 525px;
    }
  }

  &__header {
    padding: 1rem 0;
    @include flex(row, center, flex-start);
  }

  &__profile-picture {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    border: 0.25rem solid $primary-color;

    @include tablet {
      width: 6rem;
      height: 6rem;
    }
  }

  &__content {
    width: 100%;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  &__description {
    text-align: left;
    color: $black-color;
    display: inline-block;
    position: relative;
    width: 100%;
    white-space: pre-line;
  }
}
