@use '../../styles/partials/variables' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/mixins' as *;

.about {
  background: url("../../assets/images/binary_background.png") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 5rem 1rem;
  }

  &__container {
    background: url("../../assets/images/window_background.png") no-repeat center;
    background-size: 100% 100%;
    @include flex(row, center, null);
    width: 100%;
    aspect-ratio: 3 / 2;
    color: $black-color;
    overflow: hidden;
    padding: 2rem 1rem 1.5rem 1rem;
    overflow-y: auto;
    max-height: 35vh;

    @include tablet {
      background-size: contain;
      max-height: 100vh;
      padding: 4rem 6rem;
      width: 60%;
      overflow-y: hidden;
    }

    @include desktop {
      max-height: 100%;
    }

  }

  &__header {
    padding-top: 5rem;
    @include flex(row, center, center);

    @include tablet {
      padding: 0 0 2rem 0;
      justify-content: flex-start;
    }
  }

  &__profile-picture {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;
    border: .25rem solid $primary-color;

    @include tablet {
      width: 9rem;
      height: 9rem;
    }
  }

  &__content {
    @include flex(column, null, center);
    flex: 1;
    margin-top: .5rem;
    padding-top: 1.4rem;
    max-height: 35vh;
    overflow-y: auto;

    @include tablet {
      margin-top: 0;
      padding-top: 0;
      max-height: 100vh;
      overflow-y: hidden;
    }
  }

  &__title {
    margin-bottom: 1rem;
    color: $black-color;
  }

  &__description {
    text-align: justify;
    color: #444;
  }
}